*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
nav .fa{
    display: none;
}
header{
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgb(0,0,0,0.3),rgba(0,0,0,0.7)), url(/img/img6.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    text-align: center;
    padding: 2% 6%;
    justify-content: space-between;
    background-color: #898d8e;
}
nav h1{
    color: #e3a68b;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
nav ul li:hover a, .selected{
    background-color: rgba(130, 184, 204, 0.6);
    color: black;
    padding: 25px 20px;
}
.header-text{
    text-align: right;
    margin-right: 8%;
    margin-top: 29%;
}
.header-text h1{
  color: white; 
  font-size: 50px; 
  line-height: 50px;
}
h1 span{
    color: #d7794a;
    font-size: 35px;
    letter-spacing: 10px;
}
@media (max-width: 700px) {
    header h1{
        font-size: 18px;
    }
    nav ul li{
        display: block;
    }
    .navlinks{
        position: fixed;
        background-color: rgb(137,141,142,0.9);
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
    }
    .navlinks ul{
        padding: 50px;
    }
    .header-text{
        box-sizing: border-box;
        margin-top: 50vh;
    }
    .header-text h1{ 
        font-size: 40px; 
        line-height: 40px;
    }
    h1 span{
        color: #d7794a;
        font-size: 30px;
        letter-spacing: 6px;
    }
    nav .fa{
        display: block;
        color: white;
        cursor: pointer;
        font-size: 22px;
    }
    .fa-times{
        margin-top: 20px;
        margin-left: -120px;
    }
}

/* our team */

#Team{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#Team h2{
    font-size: 50px;
    color: #af6946;
    padding-bottom: 50px;
}
#Team h2::after{
    content: ' ';
    width: 30%;
    height: 1px;
    background-color: #af6946;
    display: block;
    margin: 2% auto 0;
}
.row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.User-col{
    flex-basis: 30%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.User-col img{
    width: 100%;
    max-width: 50vh;
    height: 50vh;
}
.User-col h3{
    margin-top: 10%;
    font-size: 30px;
}
.User-col p{
    margin-top: 20px;
}
@media (max-width: 700px) {
    #Team h2{
        font-size: 24px;
    }
    .row{
        flex-direction: column;
    }
}

/* counter */

#counter{
    width: 100%;
    background-color: #1f3138;
    text-align: center;
    padding: 20px 0;
}
.num-col{
    flex-basis: 31%;
    padding: 0 12px 50px;
    box-sizing: border-box;
}
.num-col h1{
    color: #88553b;
    font-size: 70px;
}
.num-col p{
    color: white;
    font-size: 20px;
    line-height: 50px;
}

/* dot design */

#dot{
    width: 100%;
}
#dot img{
    width: 100%;
    max-height: 50vh;
}

/* contact */

#contact{
    width: 100%;
    background-color: #1f3138;
    color: white;
    padding: 100px 0;
    text-align: center;
}
#contact h1{
    font-size: 70px;
}
#contact p{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    opacity: 0.7;
}
#contact form{
    width: 50%;
    margin: auto;
    padding: 2% 0;
}
input, select, textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}
.sub-form{
    padding: 1% 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
input[type="text"],input[type="tel"], select, ::placeholder{
    width: 48%;
    height: 40px;
    color: #60696d;
}
input[type="email"]{
    display: block;
    width: 100%;
    height: 50px;
}
textarea{
    display: block;
    margin-top: 5%;
    width: 100%;
    height: 12vh;
}
textarea::placeholder{
    font-size: 18px;
}
input[type="submit"]{
    background-color: #89553b;
    border: #623621 1px solid;
    padding: 2% 5%;
    margin: 4% 0;
    cursor: pointer;
    transition: 0.5s;
}
input[type="submit"]:hover{
    color: white;
    background-color: black;
    border: none;
}
::placeholder{
    color: #60696d;
}
@media (max-width: 700px) {
    #contact h1{
        font-size: 45px;
    }
    #contact form{
        width: 80%;
    }
    .sub-form{
        display: block;
    }
    input[type="text"],input[type="tel"], select, ::placeholder{
        width: 108%;
        height: 40px;
    }
    input[type="email"]{
        display: block;
        width: 100%;
        height: 50px;
    }
    textarea{
        width: 100%;
    }
}

/* about */

#about{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
#about .row{
  justify-content: space-around;
}
.about-col{
    flex-basis: 40%;
}
.rep{
    min-height: 70vh;
}
.about-col img{
    width: 100%;
}
.about-text{
    border: 2px solid black;
    margin: 5% 0;
}
.about-text p{
     margin-top: 20px;
}
.user-about-col{
    flex-basis: 30%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.user-about-col img{
    border-radius: 50%;
}
.user-about-col h5{
    margin-top: 30px;
    border: 1px solid black;
    padding: 5% 6%;
}

/* gallery */

#slide{
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
#slide h1{
    font-size: 50px;
    color: #a95e39;
}
#slide p{
    margin-top: 50px;
    font-size: 30px;
}

/* footer */

footer{
    width: 100%;
    background-color: #1b2c33;
    padding-top: 50px;
    color: white;
}
footer .row{
    width: 80%;
    margin: auto;
}
.footer-top-col{
    flex-basis: 30%;
    margin: 2% 0;
}
.footer-top-col h4{
    margin-bottom: 10%;
}
.footer-top-col li{
    margin: 5% 0;
}
.footer-bottom{
    background-color: black;
    padding: 2% 0;
}
@media (max-width: 700px) {
    #slide h1{
        font-size: 30px;
    }
    #slide p{
        font-size: 14px;
    }
    footer .copy p{
        font-size: 10px;
    }
}